@use '../../styles/variables';

.button {
  &--primary {
    height: 48px;
    border: variables.$font-black 1px solid;
    background-color: variables.$font-white;
    border-radius: 6px;
    font-family: variables.$font-family-heading;
    text-transform: uppercase;
    padding: 0 27px;
    cursor: pointer;
  }
}
