$global-padding: 0 calc((100vw - 1400px) / 2);

$header-height: 101px;

$font-family-base: 'Noto Sans', sans-serif;
$font-family-heading: 'Play', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-white: #ffffff;
$font-gray: #888888;
$font-black: #000000;
