$horizontal-padding: calc((100vw - 1400px) / 2);
$industries-horizontal-padding: calc((100vw - 1387px) / 2);

$screen-height: 100vh;
$header-height: 101px;

$font-family-base: 'Noto Sans', sans-serif;
$font-family-heading: 'Play', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-white: #ffffff;
$font-gray: #888888;
$font-black: #000000;
$font-dark-gray: #323232;
$font-light-gray: #f7f7f7;
$font-blue: #007fa7;
