@use '../../../styles/variables';

.button {
  &--primary {
    height: 48px;
    background-color: variables.$font-white;
    border-radius: 6px;
    font-family: variables.$font-family-heading;
    text-transform: uppercase;
    padding: 0 27px;
    cursor: pointer;
  }

  &--wide {
    min-width: 326px;
  }

  &--default {
    min-width: auto;
  }

  &--with-border {
    border: 1px solid variables.$font-black;
  }

  &--no-border {
    border: none;
  }
}
